@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    background: #1aa1ad;
    background-image: url('./images/bg-pattern-top.svg'),
        url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 25%;
    margin: 8em auto;
    border-radius: 20px;
    text-align: center;
}

.container-one {
    background: url("./images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    min-height: 130px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    position: static;
}


.profile-image {
    position: relative;
    text-align: center;
    top: -50px;
}

.profile-image {
    max-width: 50%;
    border-radius: 50%;
    border: 5px solid #fff;
}

.container-two {
    text-align: center;
    background: #fff;
    position: static;
    border-radius: 0 0 20px 20px;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile h2 {
    font-size: 1.1rem;
    color: hsl(229, 23%, 23%);
    margin: 0 0.5em;
}

.user-profile p {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 1.2rem;
}

.user-profile {
    margin-top: -2em;
    margin-bottom: 0.5em;
}

.achivement {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid hsl(0, 0%, 59%, .2);
    padding: 0.5em;
}

.location {
    color: hsl(0, 0%, 59%);
    margin-bottom: 1.5em;
    font-size: 0.9rem;
}

.followers,
.likes,
.photos {
    margin: 1em;
}

.numbers {
    font-size: 1rem;
    color: hsl(229, 23%, 23%);
}

.texts {
    font-size: 0.6rem;
    letter-spacing: 2px;
    color: hsl(0, 0%, 59%);
}

@media(max-width:599px) {
    .container {
        max-width: 70%;
    }

    .user-profile h2 {
        font-size: 1rem;
    }

    .user-profile p {
        font-size: 1.1rem;
    }

    .location {
        font-size: 0.8rem;
    }

}
